[gcode_macro SET_BED_TEMPERATURE]
gcode:
    {% if params.WAIT == true %}
        { action_respond_info("Heating bed to {params.BED}°C and wait") }
        M190 S{params.BED}
    {% else %}
        { action_respond_info("Heating bed to {params.BED}°C (without waiting)") }
        M140 S{params.BED}
    {% endif %}

[gcode_macro SET_EXTRUDER_TEMPERATURE]
gcode:
    {% if params.WAIT == true %}
        { action_respond_info("Heating extruder to {params.EXTRUDER}°C and wait") }
        M109 S{params.EXTRUDER}
    {% else %}
        { action_respond_info("Heating extruder to {params.EXTRUDER}°C (without waiting)") }
        M104 S{params.EXTRUDER}
    {% endif %}

[gcode_macro HOME_ALL]
gcode:
    BED_MESH_CLEAR
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        G28 # Home all
    {% else %}
        { action_respond_info("XYZ already homed") }
    {% endif %}
    {% if not printer.quad_gantry_level.applied %}
        QUAD_GANTRY_LEVEL
    {% else %}
        { action_respond_info("Quad Gantry Level already applied") }
    {% endif %}
    # Always home Z once more, since QGL can change the Z position
    G28 Z

[gcode_macro PRINT_START]
gcode:
    SET_BED_TEMPERATURE BED={params.BED}
    SET_EXTRUDER_TEMPERATURE EXTRUDER={params.EXTRUDER}
    # ABS chamber temperature instructions
    SET_BED_TEMPERATURE BED={params.BED} WAIT=true
    SET_EXTRUDER_TEMPERATURE EXTRUDER={params.EXTRUDER} WAIT=true

    HOME_ALL

    SET_GCODE_OFFSET Z=0
    CALIBRATE_Z

    BED_MESH_PROFILE LOAD=default


[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400           # Wait for all movement to finish
    G92 E0         # Stop extruding
    G1 E-2.0 F3600 # Retract filament

    TURN_OFF_HEATERS

    G90 # Absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} # move nozzle to avoid stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} # park nozzle in the back
    M107 # Turn off part cooling fan

    BED_MESH_CLEAR

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
